{% extends '@corredores/base.html.twig' %}

{% block menu %}

<ul>
<li>
<a href="{{ path('index') }}">{% trans %}Portada{% endtrans %}<br/></a>
</li>
<li>
<a href="{{ path('carreras') }}">{{ 'menu.carreras' | trans }}<br/></a>
</li>
<li>
<a href="{{ path('miscarreras') }}">{{ 'menu.miscarreras' | trans }}<br/></a>
</li>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}   
<li>
<a href="{{ path('perfil') }}">{{ 'menu.perfil' | trans }}<br/></a>
</li>   
<li>
<a href="{{ path('corredor_logout') }}">Logout<br/></a>
</li>
{% else %}    
<li>
<a href="{{ path('corredor_login') }}">Login<br/></a>
</li>
{% endif %}
</ul>

{% endblock %}
